<div class="card">
  <div class="card-header">
    <h4>Modify task</h4>
  </div>
  <div class="card-body">
    <%= render "form", task: @task %>
    <%= link_to "Show this task", @task %> | 
  <%= link_to "Back to tasks", tasks_path %>
  </div>
</div>
  

