
<footer class="footer text-center" style="background-color: ; color:black;padding: 10px 0; font-family: Perpetua;" class="text-center">
  <div class="container">
     <p>&copy; <%= Time.now.year %> Mignonne Unguyeneza</p>
  </div>
</footer>
