<div class="card">
  <h5 class="card-header">
    Welcome to the ToDo App User Guide
  </h5>
  <div class="card-body">
    <br/>
    <p>Thank you for choosing our ToDo App to help you manage your tasks and stay organized. This user guide will walk you through the various features and functionalities of our app, ensuring that you can make the most out of it.</p><br/>

    <h4 class="card-subtitle mb-2 text-muted">Table of Contents</h4><br/>
    <p><strong>Getting Started</strong></p>
    <ul>
      <li><strong>Creating an Account</strong></li>
      <p>To get started, create an account by clicking on the "Sign Up" link in the navigation menu. Provide your email and create a password. Once registered, you can log in to your account.</p>
      <li><strong>Logging In</strong></li>
      <p>Click on the "Sign In" link in the navigation menu to log in to your account. You'll be prompted to enter your email and password.</p>
      <li><strong>Remember Me Option</strong></li>
      <p>You can choose to enable the "Remember Me" option during login to stay logged in across sessions.</p>
    </ul>

    <p><strong>Dashboard</strong></p>
    <ul>
      <li><strong>Overview of the Task List</strong></li>
      <p>Upon logging in, you'll be directed to the dashboard, which displays your task list. You'll see a list of tasks that you've created, including their titles, due dates, priorities, and completion status.</p>
      <li><strong>View Options: List and Card Views</strong></li>
      <p>You can switch between list and card views for your tasks. The list view displays tasks in a tabular format, while the card view presents tasks as individual cards.</p>
      <li><strong>Search for Tasks</strong></li>
      <p>Use the search bar to find tasks quickly by typing keywords from the task title. The app will display matching tasks in real-time.</p>
    </ul>


    <p><strong>! Viewing Tasks for Different People and Searching</strong></p>
    <ul>
      <li>You have the ability to view all tasks for different people and search for a specific task even if you are not logged in. This feature allows you to browse through tasks created by various users and find the information you need.</strong></li></ul>

      <p><strong>! Authentication for Editing, Deleting, and Adding Tasks</strong></p>
    <ul>
      <li>However, please note that in order to edit, delete, and add tasks, you will need to log in to your account. This login requirement ensures that only authorized users can make changes to the tasks, maintaining the security and integrity of the task management process. Once you log in, you'll have full access to these functionalities and can efficiently manage your tasks within the app.</li></ul>
      <br/>

    <p><strong>Managing Tasks</strong></p>
    <ul>
      <li><strong>Creating New Tasks</strong></li>
      <p>To add a new task, click on "Add a Task" in the navigation menu. Fill in the required details such as title, description, due date, priority, and category.</p>
      <li><strong>Editing Existing Tasks</strong></li>
      <p>Click on a task to view its details. From here, you can edit any field, including title, description, due date, priority, and category.</p>
      <li><strong>Marking Tasks as Completed</strong></li>
      <p>When a task is completed, simply change the status to completed. The task will be marked as complete in green color.</p>
      <li><strong>Deleting Tasks</strong></li>
      <p>To remove a task, click on the task and then click delete button. Be cautious, as deleted tasks cannot be recovered.</p>
    </ul>

    <p><strong>Task Details</strong></p>
    <ul>
      <li><strong>Adding Notes and Descriptions</strong></li>
      <p>For each task, you can add additional notes or descriptions to provide more context or details.</p>
      <li><strong>Setting Due Dates and Priorities</strong></li>
      <p>Assign a due date to tasks to help you stay organized. You can also set task priorities to indicate their importance.</p>
      <li><strong>Categorizing Tasks</strong></li>
      <p>Categorize tasks into different categories, such as personal, work, or other custom categories.</p>
    </ul>

    <p><strong>User Profile</strong></p>
    <ul>
      <li><strong>Viewing and Editing Account Information</strong></li>
      <p>Access your user profile to view your account information. You can also edit your name and email address from here.</p>
      <li><strong>Changing Password</strong></li>
      <p>You can change your password by navigating to your profile and updating your password.</p>
    </ul>

    <p><strong>Responsive Design</strong></p>
    <ul>
      <li><strong>Accessing the App on Different Devices</strong></li>
      <p>The ToDo App is designed to be responsive, ensuring a seamless experience across devices like desktops, tablets, and mobile phones.</p>
    </ul>

    <p>We hope this user guide helps you navigate through the features and functionalities of our ToDo App.Happy task managing!</p>
  </div>
</div>
